*{
    margin:0px;
    padding:0px;
    text-align:center;
}

h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height:5rem;
}

.choices{
    display:flex;
    justify-content: center;
    gap:3rem;
    margin-top:5rem;
}

.choice{
    width:167px;
    height:167px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #081b31;
    /* opacity:0.65; */
    cursor:pointer;
}

img{
    width:163px;
    height:163px;
    object-fit: cover;
    border-radius:50%;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    margin-bottom: 3rem;;
    gap:3rem;
    font-size:2rem;
}

#user-score,#comp-score{
    font-size:4rem;
}

.msg-continer{
    margin-top:5rem;
}

#msg{
    background-color: #081b31;
    color:#fff;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius: 1rem;
}